.addUserField {
  padding-top: 3em;
}

.wrapField {
  margin-left: 3em;
  margin-bottom: 1em;
}

.addName {
  border: 0;
  border-bottom: 1px solid black;
  width: 90%;
}

input {
  font-family: metropolis;
}

input:focus {
  border-bottom: 2px solid purple;
}

.numHelp {
  color: grey;
}

@media (min-width: 575px) {
  .addName {
    width: 30%;
  }

  .accountsWrapper {
    text-align: center;
  }

  input {
    text-align: center;
  }

  .wrapField {
    margin-bottom: 2em;
    font-size: 1.2em;
  }
}
