/* /* desktop styles * */
@media (min-width: 575px) {
  .largerScreenGrid {
    display: flex;
    grid-template-columns: 2fr 1fr;
  }

  .mainImg {
    object-fit: cover;
    height: 100vh;
  }
  .LoginContainer {
    background-image: none;
    background-color: yellow;
    overflow-y: hidden;
  }

  .hideNav {
    display: none;
  }

  .LoginForm {
    margin: 12em 23em;
  }

  .aboutApp p {
    font-size: 3em;
    margin: 0;
    font-weight: 700;
    color: rgb(66, 5, 116);
  }

  .aboutApp {
    margin-bottom: 2em;
  }

  .userField {
    font-size: 1.2em;
    font-weight: 600;
    margin-bottom: 1em;
  }

  .checkPassword {
    margin-right: 1em;
  }
  .userInput {
    width: 350px;
    background-color: yellow;
    border: none;
    border-bottom: 1px solid black;
  }

  .submit {
    margin: 2em 0;
    border: 0;
    padding: 0.5em;
    border-radius: 5px;
    background-color: purple;
    color: white;
    font-family: metropolis;
    font-weight: 700;
    font-size: 1.1em;
    width: 360px;
    cursor: pointer;
  }

  .registerDiv {
    margin: 0 6em;
    font-weight: 600;
  }
}

@media screen and (min-device-width: 350px) and (max-device-width: 575px) {
  .largerScreenImg {
    display: none;
  }

  .LoginContainer {
    background-image: url("https://images.unsplash.com/photo-1508002366005-75a695ee2d17?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=617&q=80");
    min-height: 100vh;
    background-position: right -120px bottom -110px;
    background-repeat: no-repeat;
  }

  .LoginForm {
    position: absolute;
    bottom: 0;
    border-top-left-radius: 15px;
    border-top-right-radius: 15px;
    background-color: yellow;
    padding-top: 0.5em;
    padding-bottom: 1.5em;
  }

  .userField {
    margin: 1em 0 0 3em;
    font-weight: 600;
  }

  .passwordBox {
    margin: 0.1em 0 0 2.5em;
  }

  .userInput {
    border: 0;
    background-color: yellow;
    font-family: metropolis;
    border-bottom: 1px solid black;
    width: 270px;
  }

  .submit {
    margin: 1em 2.5em 0 2.5em;
    border: 0;
    padding: 0.5em;
    border-radius: 5px;
    background-color: purple;
    color: white;
    font-family: metropolis;
    font-weight: 700;
    font-size: 1.1em;
    width: 270px;
    cursor: pointer;
  }

  .registerDiv {
    margin-top: 0.5em;
    text-align: center;
  }

  .register {
    color: black;
    font-weight: 700;
    text-decoration: none;
  }

  .aboutApp {
    margin: 0 2em;
    text-align: center;
  }

  .aboutApp p {
    text-align: center;
    font-size: 1.3em;
    font-weight: 600;
    margin-bottom: 0;
    color: rgb(66, 5, 116);
  }
  .hideNav {
    display: none;
  }
}

@media screen and (min-device-width: 375px) and (max-device-width: 575px) {
  .LoginForm {
    width: 375px;
  }
}

@media screen and (min-device-width: 360px) and (max-device-width: 575px) {
  .LoginForm {
    width: 360px;
  }
}
