.navContainer {
  bottom: 0;
  position: fixed;
  background-color: yellow;
  width: 100vw;
  padding-top: 1em;
}

.nav {
  margin-right: 2em;
  color: black;
  font-weight: 600;
  text-decoration: none;
}

.navWrap {
  display: flex;
  justify-content: center;
  margin: 0 auto;
  text-align: center;
}
